.circle-hero .circle-hero__image{
    width: 250px;
    max-width: 100%;
    height: 250px;
    box-shadow: 25px -30px rgb(84 124 133 / 50%);
}
.circle-hero .circle-hero__wrapper{
    transition: .5s all;
}
.circle-hero .circle-hero__wrapper:hover{
    transform: scale(1.1);
    cursor: pointer;
}