.contact-list .wpcf7-form-control[type="text"],
.contact-list .wpcf7-form-control[type="email"],
.contact-list .wpcf7-form-control[type="tel"],
.contact-list .wpcf7-form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.contact-list .wpcf7-form-control[type="text"]:focus,
.contact-list .wpcf7-form-control[type="email"]:focus,
.contact-list .wpcf7-form-control[type="tel"]:focus,
.contact-list .wpcf7-form-control:focus {
    border: 3px solid #29666F !important;
}

.contact-list .input-submit{
    transition: 0.5s all;
    border: 1px solid #b5c5c8;
    border-radius: 5px;
    color: #b5c5c8;
    outline: 0;
    display: inline-block;
    padding: 15px 50px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}
.contact-list .input-submit:hover {
  border: 1px solid #29666f;
  background-color: #29666f;
  color: white;
}
.contact-list .wpcf7 .wpcf7-response-output{
    background-color: #29666F;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    line-height: 1.5rem;
    margin: 0;
    padding: 15px;
}