.hero__image {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero__button, .services-call-to-action .hero__button{
  transition: 0.5s all;
  border: 1px solid #b5c5c8;
  border-radius: 5px;
  color: #b5c5c8;
  outline: 0;
  display: inline-block;
  padding: 15px 50px;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}
.horizontal-hero .hero__button{
  border: 1px solid #b5c5c8;
  color: #b5c5c8;
  display: inline-block;
}
.hero__button:hover {
  border: 1px solid #29666f;
  background-color: #29666f;
  color: white;
}
.vertical-hero .hero__button{
  border: 1px solid #29666f;
  color: #29666f;
  display: inline-block;
}
.vertical-hero .hero__image.first__hero{
  position: relative;
  box-shadow: -30px -50px rgb(181 197 200 / 50%);
  max-height: 600px
}
.vertical-hero .hero__image.last__hero{
  position: relative;
  box-shadow: 30px -50px rgb(84 124 133 / 50%);
  max-height: 600px;
}
.vertical-hero .hero__big-circle{
  background-image: linear-gradient(90deg, rgba(41,102,111,1) 0%, rgba(84,124,133,1) 35%, rgba(181,197,200,1) 100%);
  left: 50%;
  top: 50%;
  width: 250px;
  height: 250px;
  margin-top: auto;
  margin-right: 10px;
  margin-bottom: auto;
  border-radius: 50%;
  background-color: transparent;
  z-index: 0;
  transform: translate(-50%, -50%);  
}

@media (min-width: 768px){
  .vertical-hero .hero__big-circle{
    width: 500px;
    height: 500px;
  }
}

