.recent-posts .recent-posts-link{
    background-color: #FFF;
    padding: 30px;
    box-shadow: 1px solid;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    margin: 10px 0px;
    transition: .5s all;
}
.recent-posts .recent-posts-link:hover{
    color: #547C85;
}