/* Primary */
.bg-primary{
    background-color: #29666F;
}
.text-primary{
    color: #29666F;
}
.border-primary{
    border-color: #29666F;
}
.hover-primary:hover{
    color: #29666F;
}

/* Secondary */
.bg-secondary{
    background-color: #547C85;
}
.text-secondary{
    color: #547C85;
}
.border-secondary{
    border-color: #547C85;
}
.hover-secondary:hover{
    color: #547C85;
}

/* Tertiary */
.bg-tertiary{
    background-color: #B5C5C8;
}
.text-tertiary{
    color: #B5C5C8;
}
.border-tertiary{
    border-color: #B5C5C8;
}
.hover-tertiary:hover{
    color: #B5C5C8;
}
.hover-tertiary:hover svg{
    fill: #B5C5C8;
}

/* Transparent */
.bg-transparent{
    background-color: transparent;
}
.text-transparent{
    color: transparent;
}
.border-transparent{
    border-color: transparent;
}
.hover-transparent:hover{
    color: #B5C5C8;
}
