/* Primary */
.bg-one{
    background-color: #29666F;
}
.text-one{
    color: #29666F;
}
.border-one{
    border-color: #29666F;
}
.hover-one:hover{
    color: #29666F;
}

/* Secondary */
.bg-two{
    background-color: #547C85;
}
.text-two{
    color: #547C85;
}
.border-two{
    border-color: #547C85;
}
.hover-two:hover{
    color: #547C85;
}

/* Tertiary */
.bg-two{
    background-color: #B5C5C8;
}
.text-two{
    color: #B5C5C8;
}
.border-two{
    border-color: #B5C5C8;
}
.hover-two:hover{
    color: #B5C5C8;
}
.hover-two:hover svg{
    fill: #B5C5C8;
}

/* Quaternary */
.bg-quaternary{
    background-color: rgb(242, 243, 245);
}
.text-quaternary{
    color: rgb(242, 243, 245);
}
.border-quaternary{
    border-color: rgb(242, 243, 245);
}
.hover-quaternary:hover{
    color: rgb(242, 243, 245);
}
.hover-quaternary:hover svg{
    fill: rgb(242, 243, 245);
}

/* Transparent */
.bg-transparent{
    background-color: transparent;
}
.text-transparent{
    color: transparent;
}
.border-transparent{
    border-color: transparent;
}
.hover-transparent:hover{
    color: #B5C5C8;
}
