.header-info .header-info__address .icon{
    width: 100%;
    height: 30px;
}
@media (min-width: 768px){
    .header-info .header-info__address .icon{
        width: 30px;
    }
}
.header-info .header-info__social .icon{
    width: 30px;
}
