.top-menu .custom-logo, .top-menu .dark-logo{
    max-width: 100px;
}
.top-menu .top-menu__nav{
    transition: .5s all;
}
.menu-item:hover .dropdown-menu{
    display: block;
    animation-name: dropdown;
    animation-duration: .3s;
}
.top-menu .top-menu__nav.is-fixed .nav-link{
    color: #FFF;
}
.top-menu .top-menu__nav.is-fixed .nav-link:hover{
    color: #29666F;
}
.top-menu .top-menu__nav .nav-item .nav-link:hover{
    color: #29666F;
}
.nav-link:after{
    display: none !important;
}
.dropdown-menu{
    transition: 1s all;
    border-top: 2px solid #29666F !important; 
}

@keyframes dropdown {
    from {
        top: 200%;
        opacity: 0;
        display: none;
    }
    to {
        top: 100%;
        opacity: 1;
        display: block;
    }
}

@media(max-width: 768px){
    .navbar-collapse{
        border-top: 1px solid #29666F;
        border-bottom: 1px solid #29666F;
        margin: 1rem 0;
        padding: .5rem 0;
    }
}
